# Dependency directory
node_modules/

# Visual Studio Code settings
.vscode/

# Built version
build/

# Parcel's cache
.parcel-cache/

# Hermes TODO list
hermes/TODO.md

# macOS Desktop Services Store files
.DS_Store

# Hermes' logs
hermes/logs/*