@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #161920;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 0 25%;
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
}

#header>#navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header>#navbar>.topbarShortcut {
    margin: 0 10px;
    color: inherit;
    text-decoration: none;
}

#header>#navbar>.topbarShortcut:first-child {
    color: inherit;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

#header>#navbar>.topbarShortcut:hover {
    color: #00aff4;
}

#header>#navbar>.topbarShortcut:nth-child(n+2):hover {
    text-decoration: underline;
}

#main {
    width: 100%;
    padding: 100px 25% 0 25%;
    box-sizing: border-box;
}

.pageSection {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #1f232e;
    border: transparent;
    border-radius: 10px;
    scroll-margin-top: 75px;
}

.pageSection:last-child {
    margin-bottom: 100px;
}

.pageSection>h2 {
    margin: 0 0 20px 0;
}

#engineCurrentChart {
    width: 100%;
}

footer {
    box-sizing: border-box;
    width: 50%;
    height: fit-content;
    margin: 0 25%;
    padding: 10px 0;
    border-top: #394960 solid 1px;
    color: #394960;

}